div {
    width: 800px;
    margin: auto;
    background-color:lightgrey;
}
img.author {
    float:left;
    margin-right: .5em;
}
h2.subtopics {
    clear: both;
    margin-top: 2em;
    font-size: 2em;
    font-style: 900;
}
img.blog_img {
    display: block;
    margin: 0 auto 0 auto;
}